:root {
    /* Couleurs principales */
    --header-background: #38160D;
    --white-color: #F9F7F0;
    --card-background: #4D3624;
    --section-border: #BAADAD;
    --coin-color: #FFD700;
    --page-background: #DBCCAD;
    --font-color: #1E1E1E;

    /* Polices */
    --font-title: 'Grenze Gotisch', serif;
    --font-body: 'Inknut Antiqua', serif;
}

main{
    display: flex;
}

h2,
.nav-links li {
    font-family: var(--font-title);
}

h3, p{
    font-family: var(--font-body);
}

.header {
    height: 200px;
    padding: 20px;
    position: relative;
    background-color: red;
}

.cg-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.cd-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.logo {
    display: flex;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #000;
}